<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
 <link rel="stylesheet" href="/layui/css/layui.css" type="text/css"  media="all"></link>
 <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<blockquote class="layui-elem-quote">ES条件转换,注意:目前只支持简单查询,请勿复杂查询,MySQL数据库语句,当前版本V1.0.0.1</blockquote>   
<blockquote class="layui-elem-quote">例如:select 参数    from  表名   where xxxx</blockquote>   
<form class="layui-form layui-form-pane" action="">

<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">请输入相应SQL</label>
    <div class="layui-input-block">
      <textarea placeholder="生成条件JSON" class="layui-textarea" readonly="readonly"></textarea>
    </div>
    <label class="layui-form-label">生成条件JSON</label>
    <div class="layui-input-block">
      <textarea placeholder="生成条件JSON" class="layui-textarea" readonly="readonly"></textarea>
    </div>
    
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="demo1">转换</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
  </div>
    
 </div>
</form>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
	  var form = layui.form
	  ,layer = layui.layer
	  ,layedit = layui.layedit
	  ,laydate = layui.laydate;
	  
	  //监听提交
	  form.on('submit(demo1)', function(data){
	   	  layer.alert(JSON.stringify(data.field), {
	      	title: '最终的提交信息'
	    		})
	      return false;
	  });
	 
	  //表单初始赋值
	  form.val('example', {
	    "username": "贤心" // "name": "value"
	    ,"password": "123456"
	    ,"interest": 1
	    ,"like[write]": true //复选框选中状态
	    ,"close": true //开关状态
	    ,"sex": "女"
	    ,"desc": "我爱 layui"
	  })
	});
	</script>
</body>
</html>