<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
 <link rel="stylesheet" href="/layui/css/layui.css" type="text/css"  media="all"></link>
 <script src="/layui/layui.js" charset="utf-8"></script>
<title>工具类网站</title>
</head>
<body>
<blockquote class="layui-elem-quote">这里是图片转PDF的地方,支持多图片同时转,但本服务器资源有限,你得等久一点</blockquote>   
<div class="layui-upload">
  <button type="button" class="layui-btn layui-btn-normal" id="testList">选择文件</button> 
  <div class="layui-upload-list">
    <table class="layui-table">
      <thead>
        <tr><th>文件名</th>
        <th>大小</th>
        <th>状态</th>
        <th>操作</th>
      </tr></thead>
      <tbody id="demoList"></tbody>
    </table>
  </div>
    <hr class="layui-bg-green"></hr>
  <button type="button" class="layui-btn" id="testListAction"><i class="layui-icon"></i>开始上传</button>
  <hr class="layui-bg-green"></hr>
 <fieldset class="layui-elem-field">
     <legend>需要所有图片合并到一个PDF.所有图片上传成功方可操作</legend>
  <div class="layui-field-box">
 <!--  <form class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">开关-默认关</label>
    <div class="layui-input-block">
      <input name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF" type="checkbox"></input>
    </div>
  </div>
  </form> -->
      <button id="hebin" class="layui-btn layui-btn-disabled">合并为一个PDF文件</button>
  </div>
</fieldset>

  <blockquote class="layui-elem-quote">上传成功后请保证把你文件下载了再刷新,否则弄好的文件将丢失,后续我开发出账号登陆来就可以解决这问题了...</blockquote>   
</div> 
<script>


var num = 0;
layui.use(['upload','form'], function(){
	  var $ = layui.jquery,upload = layui.upload;
	  var form = layui.form,layer = layui.layer
	  
	  var hebin=$('#hebin');

	  
	  //监听指定开关
	  form.on('switch(switchTest)', function(data){
		  if(this.checked){
			   num = 0;
		    }else{
		       num = 1;
		    }
	  });
	  
	  //多文件列表示例
	  var demoListView = $('#demoList')
	  ,uploadListIns = upload.render({
	    elem: '#testList'
	    ,url: '/pdf/multifileUpload'
	    ,accept: 'file'
	    ,multiple: true
	    ,number :num
	    ,method:"post"
	    ,auto: false
	    ,data:{action:'img2pdf'}
	    ,exts: 'jpg|png|jpge'
	    ,bindAction: '#testListAction'
	    ,choose: function(obj){   
	      var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
	      //读取本地文件
	      obj.preview(function(index, file, result){
	        var tr = $(['<tr id="upload-'+ index +'">'
	          ,'<td>'+ file.name +'</td>'
	          ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
	          ,'<td>等待上传</td>'
	          ,'<td>'
	            ,'<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
	            ,'<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
	          ,'</td>'
	        ,'</tr>'].join(''));
	        
	        //单个重传
	        tr.find('.demo-reload').on('click', function(){
	          obj.upload(index, file);
	        });
	        
	        //删除
	        tr.find('.demo-delete').on('click', function(){
	          delete files[index]; //删除对应的文件
	          tr.remove();
	          uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
	        });
	        
	        demoListView.append(tr);
	      });
	    },
	    before:function(obj){
	        //预读本地文件示例，不支持ie8
	        obj.preview(function(index, file, result){
	          	var tr = demoListView.find('tr#upload-'+index),tds = tr.children();
		        tds.eq(2).html('<span style="color: #5FB878;">上传中...别动...</span>');
		        //tds.eq(3).html('<a href="" class="layui-btn layui-btn-disabled">文件上传中...</a>'); //清空操作
	        });
	    }
	    ,done: function(res, index, upload){
	      if(res.code == 0){ //上传成功
	        var tr = demoListView.find('tr#upload-'+ index),tds = tr.children();
	        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
	        tds.eq(3).html('<a href="/download?src='+res.src+'" class="layui-btn">下载生成PDF文件</a>'); //清空操作
	        hebin.removeClass("layui-btn-disabled");
	      //  $("#testListAction").addClass("layui-btn-disabled");
	        return delete this.files[index]; //删除文件队列已经上传成功的文件
	      }
	      this.error(index,upload);
	    }
	    ,error: function(index, upload){
	      var tr = demoListView.find('tr#upload-'+ index)
	      ,tds = tr.children();
	      tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
	      tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
	    }
	  });
	  
	});
	

	</script>
</body>
</html>