<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8" />
 <!-- <meta http-equiv="refresh" content="0;url=https://www.yyjava.com/"></meta>   -->
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
 <link rel="stylesheet" href="/layui/css/layui.css" type="text/css"></link>
 <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>更新时间线</legend>
</fieldset>
<ul class="layui-timeline">
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2018年6月20日</h3>
      1、 新加入JSON格式化。
        <br>2、 新加入JS格式化。 <i class="layui-icon"></i>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2018年6月15日</h3>
      <p>
       	网站上线
      </p>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <div class="layui-timeline-title">开始</div>
    </div>
  </li>
</ul>  
</body>
</html>

